#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.drop-area {
  border: dashed 2px #003366;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 10px auto 5px;
  width: 300px;
  background-color: #1e8fff6c;
}

.drop-message {
  font-size: 18px;
}

input[type="text"] {
  margin: 0px auto 20px;
  padding: 5px;
  width: 300px;
}

input[type="file"] {
  display: none;
}

label {
  cursor: pointer;
}

span {
  cursor: default;
}
